html {
    width: 1282px;
    margin-left: 101px;
}
body {
    margin: 0;
    font-family: sans-serif;
}
.header {
    margin-top: 61px;
    margin-bottom: 51px;

}
.name {
    font-size: 80px;
    margin-bottom: 45px;
}
.name a {
    text-decoration: none;

}
.letter {
    color: #000000;
    
}
.letter-end {
    color: #4bcaff;
}
.header-menu {
    background-color: #35444f;
    width: 1280px;
    margin-bottom: 51px;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-wrap: nowrap;
    font-size: 24px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 69px;
}
.item a {
    text-decoration-line: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}
.item {
    width: 370px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu .item a:hover{
    background-color: #222f3a;
}
.main-page {
    width: 1280px;
    height: 850px;
}
.sidebar {
    width: 342px;
    height: 398px;
    border: 1px solid  #35444f;
    float: left;
}
.sidebar-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;  
    justify-content: space-around;
}
.content {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content a{
    text-decoration-line: none;
    color: #485863;
    font-size: 30px;
    text-indent: 45px;
    display: flex;
    align-items: center;
    height: 100%;
}
.sidebar-menu .content a:hover {
    background-color: #dbdbdb; 
    padding-left: 20px;
    color: #000000;
    /*Чтобы меню слегка смещалось вправо при наведении курсора мыши ПЛАВНО (а не как робот), пока не знаю как это сделать*/
}
.img {
    width: 882px;
    float: left;
    
}

.logo {
    margin-left: 52px;
    border: 1px solid  #35444f;
    height: 529px;
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.text {
    height: 114px;
    width: 815px;
    margin: 0;
    margin-left: 81px;
    font-size: 18px;
    text-align: justify;
}
.text p{
    margin-top: 0;
    margin-bottom: 30px;
}
.footer {
    background-color: #b4b7ba;
}
.menu-btm {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-wrap: nowrap;
    font-size: 24px;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 69px;
}
.btm a{
    text-decoration-line: none;
    color: #0c1927;
}
.footer .btm a:hover {
    color: #3181a6;
    text-decoration-line: underline;
} 
.signature {
    margin-right: 34px;
    float: right;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 21px;

}

 